# phpstorm project files
.idea

# visual studio code project files
.vscode

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

tests/_output/*
tests/_support/_generated

#vagrant folder
/.vagrant

#my
_README.md
/.bowerrc
/.git-blame-ignore-revs
/.gitattributes
/.gitignore
/codeception.yml
/docker-compose.yml
/requirements.php
/Vagrantfile
/yii
/yii.bat
/tests/functional.suite.yml
/tests/acceptance.suite.yml.example
/tests/_bootstrap.php
/tests/acceptance/
/tests/_support/
/tests/_data/
/tests/functional/
/tests/_output/
/tests/unit.suite.yml
/tests/bin/
/runtime/
/composer.lock
/tmp/
